---
export interface Props {
  data: any[];
  page: number;
  pages: number;
}

const HEAD_ELEMENTS = ["Date", "Type", "Description", "Amount", "Balance"];

const { data, page, pages } = Astro.props;
---

<div class="inline-block xl:mx-auto">
  <div
    class="rounded-2xl bg-[#fff] px-8 py-4 overflow-auto inline-block w-full xl:w-auto"
  >
    <table class="text-left text-black">
      <thead class="font-bold font-display text-xl uppercase">
        <tr>
          {
            HEAD_ELEMENTS.map((element) => (
              <th scope="col" class="px-4 py-4">
                {element}
              </th>
            ))
          }
        </tr>
      </thead>
      <tbody class="font-body text-xl">
        {
          data.map((row) => (
            <tr>
              <td scope="row" class="px-4 py-4 whitespace-nowrap">
                {row.date}
              </td>
              <td scope="row" class="px-4 py-4 whitespace-nowrap">
                {row.type}
              </td>
              <td scope="row" class="px-4 py-4 whitespace-nowrap">
                {row.description}
              </td>
              <td
                scope="row"
                class={`px-5 py-4 whitespace-nowrap ${row.amount > 0 ? "text-success" : "text-error"}`}
              >
                $ {row.amount}
              </td>
              <td scope="row" class="px-4 py-4 whitespace-nowrap">
                $ {row.balance}
              </td>
            </tr>
          ))
        }
      </tbody>
    </table>
  </div>
  <form
    method="GET"
    class="mt-4 me-8 flex justify-end items-center text-xl font-body"
  >
    {
      page > 1 && (
        <button
          type="button"
          id="previous-page-button"
          class="bg-secondary rounded-lg px-4 py-1 font-bold me-4"
        >
          Previous
        </button>
      )
    }
    Page
    <input
      type="number"
      value={page}
      id="page-number"
      name="page"
      min="1"
      max={pages}
      class="w-16 mx-2 px-2 rounded-lg"
    />
    of {pages}
    {
      page < pages && (
        <button
          type="button"
          id="next-page-button"
          class="bg-secondary rounded-lg px-4 py-1 font-bold ms-4"
        >
          Next
        </button>
      )
    }
  </form>
</div>

<script>
  const $pageNumber = document.getElementById(
    "page-number"
  ) as HTMLInputElement;
  const $nextPageButton = document.getElementById("next-page-button");
  const $previousPageButton = document.getElementById("previous-page-button");

  $nextPageButton?.addEventListener("click", (evt) => {
    evt.preventDefault();
    const nextPage = $pageNumber.value;
    window.location.assign(
      window.location.pathname + "?page=" + (+nextPage + 1)
    );
  });

  $previousPageButton?.addEventListener("click", (evt) => {
    evt.preventDefault();
    const previousPage = $pageNumber.value;
    window.location.assign(
      window.location.pathname + "?page=" + (+previousPage - 1)
    );
  });
</script>
